<div class="movie-details g-content">
	<div
		class="movie-details__spinner-container"
		*ngIf="loading"
	>
		<mat-spinner
			diameter="60"
		></mat-spinner>
	</div>
	<img *ngIf="!loading" class="movie-details__poster" src="{{movie.poster_path | poster:154}}" />
	<div *ngIf="!loading" class="movie-details__info">
		<p><strong>{{ movie.title }}</strong></p>
		<p *ngIf="movie.tagline"><strong>{{ 'movie-details.tagline' | translate }}:</strong> <em>{{ movie.tagline }}</em></p>
		<p><strong>{{ 'movie-details.overview' | translate }}:</strong> {{ movie.overview }}</p>
		<p><strong>{{ 'movie-details.release_date' | translate }}:</strong> {{ movie.release_date | date }}</p>
		<p><strong>{{ 'movie-details.budget' | translate }}:</strong> {{ movie.budget | currency:'USD' }}</p>
		<p><strong>{{ 'movie-details.revenue' | translate }}:</strong> {{ movie.revenue | currency:'USD' }}</p>
		<p><a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">IMDB</a></p>
		<app-movie-tags
			[movieTags]="movieTags"
			[allTags]="userTags"
			(added)="onAddTag($event)"
			(removed)="onRemoveTag($event)"
		></app-movie-tags>
	</div>
</div>