<div
  class="app-component"
  [class.app-component--is-mobile]="isMobile"
>
  <mat-toolbar color="primary" class="app-component__toolbar">
    <button *ngIf="isMobile" mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <span class="app-component__logo">Movies</span>
    <div *ngIf="!isMobile">
      <a
        class="app-component__menu-link"
        *ngFor="let menuLink of mainMenuLinks"
        mat-button
        [routerLink]="menuLink.link"
        routerLinkActive="active"
      >{{menuLink.title}}</a>
    </div>
    <a mat-button href="https://github.com/vloginov/angular-movies" target="_blank" class="repo-link">GitHub</a>
  </mat-toolbar>

  <mat-sidenav-container class="app-component__sidenav-container">
    <mat-sidenav *ngIf="isMobile" #sidenav>
      <mat-nav-list>
        <a
          class="app-component__sidenav-link"
          *ngFor="let menuLink of mainMenuLinks"
          mat-list-item
          [routerLink]="menuLink.link"
          routerLinkActive="active"
          (click)="sidenav.close()"
        >{{menuLink.title}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-component__content">
        <router-outlet></router-outlet>
        <div *ngIf="loading" class="app-component__content-loader">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
