<div class="favourite-movies">
  <div class="g-content">
    <mat-form-field class="favourite-movies__filter">
      <mat-label>{{ 'favourites.tag.placeholder' | translate }}</mat-label>
      <mat-select
        [formControl]="tagsControl"
        multiple
        (selectionChange)="tagsSelectionChange($event)"
      >
        <mat-option *ngFor="let tag of userTags" [value]="tag">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-list class="favourite-movies__list">
    <mat-list-item class="favourite-movies__item" *ngFor="let favourite of favourites">
      <a class="favourite-movies__link" [routerLink]="['/movies', favourite.id]">{{ favourite.name }}</a>
      <span class="favourite-movies__tags">({{ favourite.tags }})</span>
    </mat-list-item>
  </mat-list>
</div>
